@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Deactivate default long press behaviour (open the context menu) 
 * of touch screen devices 
 */

/* Safari */
/* Chrome */
/* Firefox */
/* Internet Explorer/Edge */

/* * {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} */

html,
body,
#root {
  overscroll-behavior: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}
