@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Deactivate default long press behaviour (open the context menu) 
 * of touch screen devices 
 */

/* Safari */
/* Chrome */
/* Firefox */
/* Internet Explorer/Edge */

/* * {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} */

html,
body,
#root {
  /* overscroll-behavior: none; */
  /* position: absolute; */
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background: #1c1c1c;
}

canvas {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4.5px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: snow;
  height: 10%;
}

/* SCROLL SHOW ANIMATION */
.hidden-element {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 0.7s;
}

.show-element {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.grid-images:nth-child(2) {
  transition-delay: 150ms;
}

.grid-images:nth-child(3) {
  transition-delay: 300ms;
}

.grid-images:nth-child(4) {
  transition-delay: 450ms;
}
.grid-images:nth-child(5) {
  transition-delay: 600ms;
}

.grid-images:nth-child(6) {
  transition-delay: 750ms;
}

.grid-images:nth-child(7) {
  transition-delay: 900ms;
}

.grid-images:nth-child(8) {
  transition-delay: 1050ms;
}

.grid-images:nth-child(9) {
  transition-delay: 1200ms;
}

.grid-images:nth-child(10) {
  transition-delay: 1350ms;
}

.grid-images:nth-child(11) {
  transition-delay: 1500ms;
}

.grid-images:nth-child(12) {
  transition-delay: 1650ms;
}

.grid-images:nth-child(13) {
  transition-delay: 1800ms;
}


.color-bar:nth-child(2) {
  transition-delay: calc(50ms*1);
}

.color-bar:nth-child(3) {
  transition-delay: calc(50ms*2);
}

.color-bar:nth-child(4) {
  transition-delay: calc(50ms*3);
}

.color-bar:nth-child(5) {
  transition-delay: calc(50ms*4);
}

.color-bar:nth-child(6) {
  transition-delay: calc(50ms*5);
}

.color-bar:nth-child(7) {
  transition-delay: calc(50ms*6);
}

.color-bar:nth-child(8) {
  transition-delay: calc(50ms*7);
}

.color-bar:nth-child(9) {
  transition-delay: calc(50ms*8);
}

.color-bar:nth-child(10) {
  transition-delay: calc(50ms*9);
}

.color-bar:nth-child(11) {
  transition-delay: calc(50ms*10);
}

.color-bar:nth-child(12) {
  transition-delay: calc(50ms*11);
}

.color-bar:nth-child(13) {
  transition-delay: calc(50ms*12);
}
