@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Deactivate default long press behaviour (open the context menu) 
 * of touch screen devices 
 */

/* Safari */
/* Chrome */
/* Firefox */
/* Internet Explorer/Edge */

/* * {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} */

html,
body,
#root {
  overscroll-behavior: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}

::-webkit-scrollbar {
  width: 1px;
  height: 4.5px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: snow;
  height: 10%;
}

/* SCROLL SHOW ANIMATION */
.hidden-element {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 0.7s;
}

.show-element {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.grid-images:nth-child(2) {
  transition-delay: 350ms;
}

.grid-images:nth-child(3) {
  transition-delay: 700ms;
}

.grid-images:nth-child(4) {
  transition-delay: 1050ms;
}

/* .scroll-animated-element.in-view {
  border: 10px solid red; 
} */

